@font-face {
	font-family: 'FontName bold'; 
	src: url('../fonts/Florida Vibes by Turbologo.otf'); 
}

@font-face {
    font-family: 'Super italic';
    src: url('../fonts/upperpunchsuperital.ttf');
}

body {
    margin-left: 50px;
    background: #232529;
    color: azure;
}

footer {
    height: 100px;
}

a {
    color: #3bd1d1;
    text-decoration: none;
}

th {
    padding-bottom: 35px;
}

td {
    padding-left: 25px;
}

h1 {
    text-align: center;
}

img {
    padding-left: 30px;
    padding-right: 30px;
}

p {
    margin: 8px;
    font-size: 18px;
}

button {
    border-radius: 5px;
}

.button-pos-right {
    direction: rtl;
}

.button-treangle {
    width: 36px;
    background: #203030;
    color: #87bfbf;
    font-size: 18px;
}

.button-color {
    border-radius: 5px;
    background-color: aquamarine;
}

.flex {
    display: flex;
}

.indent {
    padding-left: 25px;
}

.nav-menu {
    margin-left: 50px;
    flex-direction: column;
    max-width: 900px;
}

.swith-lamp {
    max-width: 200px;
    margin-left: 50px;
    justify-content: space-between;

}

.menu-task {
    justify-content: space-between;
}

.task-width {
    max-width: 800px;
}

.task-4-var, .task-4-var-2 {
    width: 165px;
    height: 80px;
    padding: 15px;
    background-color: bisque;
    border-radius: 13px;
}

.task-4-var-2 {
    width: 280px;
}

.task-5-color-answer {
    font-size: 20px;
    color: red;
}

.block-teory {
    max-width: 800px;
    font-size: 20px;
}

.block-typeof {
    max-width: 900px;
    flex-direction: column;
    font-size: 19px;
}

.box-console {
    padding: 15px;
    flex-direction: column;
    background-color: rgb(48 48 66);

}

.task-6-promt {
    margin: 0;
    
    color: green;
    font-size: 20px;
}

.size-of-hidden {
    padding: 20px 40px;
    border-radius: 8px;
    background-color: #dfd2be;
    /* font-family: 'Super italic'; */
    font-size: 18px;
}

.image-size {
    width: 500px;
    height: 430px;
}

.nodes-dom {
    background-image: url('../img/DOM_дерево.PNG');
    background-repeat: no-repeat;
}

.nav-to-element {
    background-image: url('../img/Children.PNG');
    background-repeat: no-repeat;
}

.li-text {
    padding-top: 10px;
    padding-bottom: 10px;
}

.select-text-span {
    padding: 5px;
    color: #b0b0c7;
    background-color: #2e313c;
}

.primery {
    padding-left: 35px;
    flex-direction: row;
}