@media (min-width: 375px) {
    .game_over {
        left: 14% !important;
    }
}

@media (min-width: 425px) {
    .game_over {
        left: 18% !important;
    }
}

@media (min-width: 728px) {
    .game_over {
        left: 30% !important;
    }
}

@media (min-width: 1024px) {
    .game_over {
        left: 34% !important;
        padding: 6px 15px !important;
    }
}

@media (min-width: 1440px) {
    .game_over {
        top: 28% !important;
        left: 40% !important;
        padding: 2px 15px !important;
    }
}

/* @media (min-width: 1440px) {
    .game_over {
        top: 28% !important;
        left: 38% !important;
        padding: 2px 15px !important;
    }
} */


td {
    border-radius: 13px;
}

.game_block {
    justify-content: center;
}

.game_field {
    width: 100%;
    /* margin-bottom: 25px; */
    border: 10px solid #25955e;
    border-radius: 5px;
    background-color: #ffffff;
}

.table-bordered {
    width: 100%;
    height: 100%;
}

.triks_elem {
    padding: 13px;
    text-align: center;
    font-size: x-large;
    font-weight: 800;
    color: #9d2525;
    background-color: #fbb96b;
    border: 6px solid #f3f3f3 !important;
}

.statistic {
    height: 54px;
    align-items: center;
}

.game_over {
    display: none;
    position: absolute;
    top: 33%;
    left: 9%;
    border: 3px solid #f27272;
    border-radius: 17px;
    background-color: #b7c5d2;
    padding: 6px 25px;
}

.counter {
    width: 250px;
    padding: 0 14px;
    /* margin-bottom: 35px; */
    font-size: 20px;
    font-weight: 700;
}

.button {
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #24d49c85;
    box-shadow: 3px 4px 9px #a29292;
    font-weight: 500;
}
.button:hover {
    margin: 0;
    box-shadow: 8px 9px 6px  #a29292;
}

.time-block {
    max-width: 70px;
    padding: 3px 6px;
    font-size: 19px;
    color: #9d2525;
}
