td {
    border-radius: 13px;
}

.tag_title {
    margin-bottom: 25px;
    justify-content: center;
}

.game_block {
    justify-content: center;
}

.game_field {
    width: 40%;
    margin: 0;
    border: 10px solid #25955e;
    border-radius: 5px;
    background-color: #ffffff;
}

.table-bordered {
    width: 100%;
    height: 100%;
}

.triks_elem {
    padding: 13px;
    text-align: center;
    font-size: x-large;
    font-weight: 800;
    color: #9d2525;
    background-color: #fbb96b;
    border: 6px solid #f3f3f3 !important;
}
/* td:hover, */
/* .triks_elem:hover {
    background-color: #ee9528 !important;
} */

.statistic {
    margin-left: 25px;
}

.counter {
    width: 250px;
    margin-bottom: 35px;
    font-size: 20px;
    font-weight: 700;
}

.button {
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 8px;
    background-color: #24d49c85;
    box-shadow: 3px 4px 9px #a29292;
    font-weight: 500;
}
.button:hover {
    margin: 0;
    box-shadow: 8px 9px 6px  #a29292;
}