.title-block,
.tag_title {
    flex-direction: column;
    align-items: center;;
}
.grid {
    display: grid;
    column-gap: 5px;
    justify-content: space-evenly;
    justify-items: center;
}

.field_game {
    max-width: 300px;
}
.caffold_field {
    max-width: 100%;
    height: 160px;
    margin-bottom: 25px;
    padding: 18px;
    border: 1px solid green;
    border-radius: 8px;
    background: #e0dddd;
}

.element {
    width: 100%;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    background-color: gray;
    font-size: 25px;
}