.title-block,
.tag_title {
    flex-direction: column;
    align-items: center;;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "1" "2" "3" "4" "5";
    background-color: aquamarine;
    justify-content: space-evenly;
    justify-items: center;
}

.field_game {
    max-width: 300px;
}
.caffold_field {
    max-width: 100%;
    height: 160px;
    margin-bottom: 25px;
    padding: 18px;
    border: 1px solid green;
    border-radius: 8px;
    background: #e0dddd;
}