.block, h1 {
    margin: 0 auto;
    padding: 20px 30px;
    color: #8b6b4a;
}
.hidden {
    display: block;
}
.description {
    color: black;
    margin-bottom: 30px;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.align-items {
    align-items: center;
}
.candle {
    gap: 10px;
    font-size: 20px;
}
.candle > input {
    padding: 5px;
    margin-bottom: 10px;
}
.add-candle {
    height: 20px;
    width: 90%;
    flex-direction: column;
}
.add,
.remove,
.add-cord {
    width: 100%;
    margin-left: 10px;
    margin-bottom: 0 !important;
    background-color: #1c8b79;
    color: aliceblue;
    border-radius: 5px;
}
.add:hover {
    background-color: #8b6b4a;
}
.add:active {
    background-color: red;
}
.remove,
.add-cord {
    margin-top: 10px;
    background-color: #d32020;
}
.remove:hover {
    background-color: #8b6b4a;
}
.remove:active {
    background-color: aliceblue;
    color: black;
}
.add-cord {
    background-color: aliceblue;
    color: black;
}
.btn {
    margin: 5px;
    padding: 5px 18px;
    /* width: 40%; */
    background-color: bisque;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.btn:hover {
    background-color: #0fad93;
    color: aliceblue;
    font-weight: bold;
}
.calculate {
    align-items: center;
    justify-content: start;
}
.clean > .btn {
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 40px;
}
.bg-img {
    width: 50px;
}